@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700&subset=all);.navbar-laravel {
  background-color: #fff;
  -webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
          box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}

li .height-ul {
  height: 275px;
}

div .padding-top-ul {
  padding-top: 20px;
}

div a .resize_logo_img {
  max-width: 100%;
  max-height: 100%;
  position: absolute;
  left: 15px;
  top: 15px;
  bottom: 15px;
  vertical-align: middle;
  margin: auto;
  z-index: 55;
}

.margin_bottom {
  margin-bottom: 15px;
}

.fix_float {
  float: right;
}

.display_form {
  display: inline;
}

